dj-rest-auth==2.2.4
Django
djangorestframework==3.13.1
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.1.0
drf-firebase-auth==1.0.0
firebase-admin==4.5.3
grpcio==1.44.0
httplib2==0.20.4
pyasn1-modules==0.2.8
PyJWT==1.7.1
pyparsing==3.0.8
python-dateutil==2.8.2
python-decouple==3.6
pytz==2022.1
requests==2.27.1
sqlparse==0.4.2
uritemplate==4.1.1
urllib3==1.26.9
