dj-rest-auth   
Django
drf-firebase-auth 
firebase-admin  
grpcio  
httplib2  
pyasn1-modules 
PyJWT 
pyparsing 
python-dateutil
python-decouple
pytz 
requests 
sqlparse 
uritemplate
urllib3 
django_crispy_forms
