{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go back</title>
</head>
<body style="background-color: black;">
    <h1 style="align-items: center;margin-top: 20vh; color: white;">This is an <div style="color:blue">Upcomming</div>
    page.<br><br>Go back by clicking the button. <br> 
    <button href='\'> Go back</button></h1>
</body>
</html>