{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <link rel="stylesheet" href={% static "https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css" %} integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href={% static "css/contact.css" %}>
    </head>
    <body>
        <div class="localnavigation" style="
        position: fixed;
        width: 100%;
        height: 65px;
        z-index: 5;
        opacity: 1;
        overflow: hidden;
        background-color: black;">      
            <a href="\" class="imgside" style="padding: 10px 15px;
                                               position: absolute;
                                               top:0;">
                                               <img src={% static "images/Group-58.svg" %} loading="lazy" width="140" height="44"></a>
            <ul style="
            position: absolute;
            color:white;
            top: 10.5%;
            left: 60%;
        ">      
                <li style="display: inline-block;
                          padding :15px 15x;
                          font-size: 18px;
                "><a href="/contact" class="textsides" style="text-decoration: none;
                          font-weight: 500;
                          color: white;">Contact Us</a></li>
                <li style="display: inline-block;
                          padding:15px 15px;
                          font-size: 18px;
                "><a href="/about" class="textsides" style="text-decoration: none;
                          font-weight: 500;
                          color: white;">About Us</a></li>
                <li style="display: inline-block;
                           padding:15px 15px;
                           font-size: 18px;
                "><a href="/programs" class="textsides" style="text-decoration: none;
                          font-weight: 500;
                          color: white;">Programs</a></li>
                <li style="display: inline-block;
                           padding:15px 15px;
                           font-size: 18px;
                "><a href="/events" class="textsides" style="text-decoration: none;
                          font-weight: 500;
                          color: white;">Events</a></li>
                <li style="display: inline-block;
                          padding:15px 15px;
                          font-size: 18px;
                "><a href="/sign" class="textsides" style="text-decoration: none;
                          font-weight: 500;">Sign Up</a></li>

            </ul>
        </div>    
        <section class="contact">
            <div class="content">
                <h2>Contact Us</h2>
                <p>ascdvb dsvazvdfbdsg svdf dsdvz sas vdb esd ffas bg evd geavd sa 
                    vsdf  ev we dfweoi jkocmd id jckvwidsn jvsd  vwfgervweg wecved.
                    ascdvb dsvazvdfbdsg svdf dsdvz sas vdb esd ffas bg evd geavd sa 
                    vsdf  ev we dfweoi jkocmd id jckvwidsn jvsd  vwfgervweg wecved.
                    ascdvb dsvazvdfbdsg svdf dsdvz sas vdb esd ffas bg evd geavd sa 
                    vsdf  ev we dfweoi jkocmd id jckvwidsn jvsd  vwfgervweg wecved.

                </p>
            </div>
            <div class="container">
                <div class="contactInfo">
                    <div class="Box">
                        <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                        <div class="text">
                            <h3>Address</h3>
                            <p>No permanent office yet.<br>Please upadte it.<br>This is online.</p>
                        </div>
                    </div>
                    <div class="Box">
                        <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                        <div class="text">
                            <h3>Phone</h3>
                            <p>No chosen yet.</p>
                        </div>
                    </div>
                    <div class="Box">
                        <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                        <div class="text">
                            <h3>Email</h3>
                            <p>StarticField@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="contactForm">
                    <form>
                        <h2>Send Message</h2>
                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span>Full Name</span>
                        </div>
                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span>Email</span>
                        </div>
                        <div class="inputBox">
                            <textarea required="required"></textarea>
                            <span>Type your query...</span>
                        </div>
                        <div class="inputBox">
                            <input type="submit" name="" value="send">
                        </div>
                    </form>
                </div>
            </div>
        </section>
         <div style="position: absolute;
                    top: 100%;
                    left:0%;
                    width: 100%;
                    height: 60%;
                    background-color: #000000;
                    color: white;
                    z-index: 2;">
            <a href='\'> <img src={% static "images/Group-58.svg" %} loading="lazy" width="140" height="44"
            style=" position: absolute;
                    top: 0%;
                    width: 15%;
                    height: 25%;
                    left: 5%;"></a>
            <div class='copyRigth' style="position: absolute;
                                        top:85%;
                                        left:1%;
                                        width: auto;
                                        height: auto;">
              <span>&copy;</span> 2022, Startic Field Pvt. Ltd. All Rights Reserved.
            </div>
            <div class='content' style="position: absolute;
                                            text-align: left;
                                            left: 1%;
                                            top:30%;
                                            width:25%;
                                            height:auto;">
              Startic Field is a company which aims to endow student entrepreneurs with the power of community, knowledge, capital and mentorship. It is also a forum where we bring together working professionals as contributors who have a passion to startup, years of experience and small amounts of capital but do not have the bandwidth to work on the ground.
            </div>
            <a href='#' class='company' style="position: absolute;
                                                    text-decoration: none;
                                                    color: white;
                                                    top:10%;
                                                    left:35%;
                                                    font-size: 28px;
                                                    width: auto;
                                                    height: auto;">
              <b>Company</b></a>
            <a href="/about" class='cone' style="position: absolute;
                                                text-decoration: none;
                                                color: white;
                                                height: auto;
                                                width: auto;
                                                top: 30%;
                                                left: 35%;">About Us</a>
            <a href='#' class='ctwo' style="position: absolute;
                                            text-decoration: none;
                                            color: white;
                                            height: auto;
                                            width: auto;
                                            top: 42.5%;
                                            left: 35%;">Privacy Policy</a>
            <a href='#' class='cthree' style="position: absolute;
                                            text-decoration: none;
                                            color: white;
                                            height: auto;
                                            width: auto;
                                            top: 55%;
                                            left: 35%;">Terms and Conditions</a>
            <a href='#' class='otherlinks' style="position: absolute;
                                                text-decoration: none;
                                                color: white;
                                                top:10%;
                                                left:55%;
                                                font-size: 28px;
                                                width: auto;
                                                height: auto;">
              <b>Other Links</b>
            </a>
            <a href='#' class='done' style="position: absolute;
                                            height: auto;
                                            text-decoration: none;
                                            color: white;
                                            width: auto;
                                            top: 30%;
                                            left: 55%";>Community</a>
            <a href='/events' class='dtwo' style="position: absolute;
                                            text-decoration: none;
                                            color: white;
                                            height: auto;
                                            width: auto;
                                            top: 42.5%;
                                            left: 55%;">Events</a>
            <a href='/programs' class='dthree' style="text-decoration: none;
                                            position: absolute;
                                            color: white;
                                            height: auto;
                                            width: auto;
                                            top: 55%;
                                            left: 55%;">Programs</a>
            <a href='/contact' class='contactUs' style="position: absolute;
                                                text-decoration: none;
                                                color: white;
                                                top:10%;
                                                left:75%;
                                                font-size: 28px;
                                                width: auto;
                                                height: auto;">
              <b>Contact Us</b></a>
            <a href='#' class='eone' style="text-decoration: none;
                                            position: absolute;
                                            color: white;
                                            height: auto;
                                            width: auto;
                                            top: 67.5%;
                                            left: 55%;">Careers</a>
            <div class='email' style="text-decoration: none;
                                    position: absolute;
                                    height: auto;
                                    width: auto;
                                    top: 42.5%;
                                    left: 75%;">
                                    contactUs@starticField.com<br><br>
                                    <a href="#" class="footer-social-link w-inline-block" style="position: absolute; top:80%; left:20%;"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124ac15112aad5_twitter%20small.svg" loading="lazy" alt=""></a>
                                    <a href="#" class="footer-social-link w-inline-block" style="position: absolute; top:80%; left:40%;"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a389912aad8_linkedin%20small.svg" loading="lazy" alt=""></a>
                                    <a href="#" class="footer-social-link w-inline-block" style="position: absolute; top:80%; left:60%;"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a51bf12aae9_facebook%20small.svg" loading="lazy" alt=""></a>
                                </div>
    </body>
</html>