<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css" integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/contact.css">
    </head>
    <body>
        <script src="" async defer></script>
        <section class="contact">
            <div class="content">
                <h2>Contact Us</h2>
                <p>ascdvb dsvazvdfbdsg svdf dsdvz sas vdb esd ffas bg evd geavd sa 
                    vsdf  ev we dfweoi jkocmd id jckvwidsn jvsd  vwfgervweg wecved.
                    ascdvb dsvazvdfbdsg svdf dsdvz sas vdb esd ffas bg evd geavd sa 
                    vsdf  ev we dfweoi jkocmd id jckvwidsn jvsd  vwfgervweg wecved.
                    ascdvb dsvazvdfbdsg svdf dsdvz sas vdb esd ffas bg evd geavd sa 
                    vsdf  ev we dfweoi jkocmd id jckvwidsn jvsd  vwfgervweg wecved.
                </p>
            </div>
            <div class="container">
                <div class="contactInfo">
                    <div class="Box">
                        <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                        <div class="text">
                            <h3>Address</h3>
                            <p>No permanent office yet.<br>Please upadte it.<br>This is online.</p>
                        </div>
                    </div>
                    <div class="Box">
                        <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                        <div class="text">
                            <h3>Phone</h3>
                            <p>No chosen yet.</p>
                        </div>
                    </div>
                    <div class="Box">
                        <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                        <div class="text">
                            <h3>Email</h3>
                            <p>StarticField@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="contactForm">
                    <form>
                        <h2>Send Message</h2>
                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span>Full Name</span>
                        </div>
                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span>Email</span>
                        </div>
                        <div class="inputBox">
                            <textarea required="required"></textarea>
                            <span>Type your query...</span>
                        </div>
                        <div class="inputBox">
                            <input type="submit" name="" value="send">
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>