{% load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Events | Startic Field</title>
        <meta name="description" content="">
        <link href={% static "images/startic-field-logo.jpeg" %} rel="shortcut icon" type="image/x-icon" >
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "css/w3.css"%}" />
        <style>
            .verticalNavBar {
                position: fixed;
                z-index: 2;
                top: 40%;
                width: 13%;
                display: block;
                cursor: pointer;
                text-indent:0px ;
                text-align: center;
                font-size: 20px;    
                text-decoration: none;
                color:white;
                left:0%;
            }
            .aOwnLive:hover {
                background-color:rgb(25, 25, 137);
                border-top-right-radius:40px;
                border-bottom-right-radius: 40px;
                width:13vw;
                left:-1%;
                position: absolute;
                color: white;
            }
            .aOwnFeatured:hover {
                background-color:rgb(25, 25, 137);
                border-top-right-radius:40px;
                border-bottom-right-radius: 40px;
                width:13vw;
                left:-1%;
                position: absolute;
                color: white;
            }
            .aOwnUpcomming:hover {
                background-color:rgb(25, 25, 137);
                border-top-right-radius:40px;
                border-bottom-right-radius: 40px;
                width:13vw;
                left:-1%;
                position: absolute;
                color: white;
            }
            .aOwnPast:hover {
                background-color:rgb(25, 25, 137);
                border-top-right-radius:40px;
                border-bottom-right-radius: 40px;
                width:13vw;
                left:-1%;
                position: absolute;
                color: white;
            }

            .aOwnLive{
                text-decoration: none;
                color: white;
                background-color: transparent;
                display: inline-block;
                width:10vw;
            }
            .aOwnFeatured{
                text-decoration: none;
                color: white;
                background-color: transparent;
                display: inline-block;
                width:10vw;
            }.aOwnUpcomming{
                text-decoration: none;
                color: white;
                background-color: transparent;
                display: inline-block;
                width:10vw;
            }.aOwnPast{
                text-decoration: none;
                color: white;
                background-color: transparent;
                display: inline-block;
                width:10vw;
            }
            body {
                /*background-image: url('{% static "images/About-us-background-p-800.jpg" %}') ;*/
                background-color:#181515;
            }
            /*.textsides:hover {
                background: linear-gradient(270deg, #69C5AA 0%, #37C0C3 32.91%, #587CBD 66.12%, #475CAA 100%);
            }*/
            
        </style>
        <script>
            /*var theDate = new Date(Date.parse('06/14/2020 4:41:48 PM UTC'));
            console.log('this is triggering')
            console.log(document.getElementById("datezone").style)
			document.getElementById("datezone").innerHTML = "Local date Time: "+ theDate.toLocaleString();*/
		    var counterone = 0;
            var countertwo = 0;
            var counterthree = 0;
            var counterfour = 0;
            var adder = 0;
            var ht = window.innerHeight;
            function HovFunction(idm) {
                document.getElementById(idm).style.backgroundColor="black";
                document.getElementById(idm).style.color="white";
            }
            function AntiHovFunction(idm) {
                document.getElementById(idm).style.backgroundColor="white";
                document.getElementById(idm).style.color="black";
            }
            
            function nextFunction(slno) {
            console.log('Previous button is clicked. Code:'+String(slno));
            var collection = document.getElementsByClassName('childclasses'+String(slno));
            /*for (let i = 0; i < collection.length; i++) {
              collection[i].style.left = "translateX(-24.5vw)";
            }*/
            if (slno===0) {
                counterone--;
            }
            else if (slno===1) {
                countertwo--;
            }
            else if (slno===2) {
                counterthree--;
            }
            else if (slno===3) {
                counterfour--;
            }
            adder = -1;
            for (let i = 0; i < collection.length; i++) {
                if (collection[i].style.left === '73%') {
                    collection[i].style.top = '1%';
                    collection[i].style.height = '98%';
                    collection[i].style.width = '30%';
                    collection[i].style.transform = 'translateX(-7.5%)';
                }
                else {
                    collection[i].style.top = '5%';
                    collection[i].style.height = '90%';
                    collection[i].style.width = '25%';
                    collection[i].style.transform = 'translateX(0)';
                }
            }
            youtubFunction(slno)
            }
            function prevFunction(slno) {
            console.log('Next button is clicked. Code:'+String(slno));
            var collection = document.getElementsByClassName('childclasses'+String(slno));
            /*for (let i = 0; i < collection.length; i++) {
              collection[i].style.transform = "translateX(+0vw)";
            }*/
            if (slno===0) {
                counterone++;
            }
            else if (slno===1) {
                countertwo++;
            }
            else if (slno===2) {
                counterthree++;
            }
            else if (slno===3) {
                counterfour++;
            }
            adder = 1;
            for (let i = 0; i < collection.length; i++) {
                if (collection[i].style.left === '3%') {
                    collection[i].style.top = '1%';
                    collection[i].style.height = '98%';
                    collection[i].style.width = '30%';
                    collection[i].style.transform = 'translateX(-7.5%)';
                }
                else {
                    collection[i].style.top = '5%';
                    collection[i].style.height = '90%';
                    collection[i].style.width = '25%';
                    collection[i].style.transform = 'translateX(0)';
                }
            }
            
            youtubFunction(slno)
            }
            function youtubFunction(slno) {
                console.log('slider got the code:'+String(slno))
                if (slno===0) {
                counter = counterone
            console.log('counterone value:'+String(counterone))
            }
            else if (slno===1) {
                counter = countertwo
            console.log('countertwo value:'+String(countertwo))
            }
            else if (slno===2) {
                counter = counterthree
            console.log('counterthree value:'+String(counterthree))
            }
            else if (slno===3) {
                counter = counterfour
            console.log('counterfour value:'+String(counterfour))
            } else {console.log('invalid slider')}
            console.log('counter value:'+String(counter))
                if (counter===1) {
                    console.log('counter is one now')
                    document.getElementById('prev'+String(slno)).style.display = 'none';
                }
                else {document.getElementById('prev'+String(slno)).style.display = 'unset';
                }
                const slides = document.querySelectorAll(".childclasses"+String(slno))
                if (counter===-slides.length + 2) {
                    document.getElementById('next'+String(slno)).style.display='none';
                }
                else {document.getElementById('next'+String(slno)).style.display = 'unset';
                }
                const slideEvents = () => {
                    slides.forEach(
                        (childclasses) => {
                            var e = childclasses.style.left;
                            var f = Number(e.replace("%",""));
                            var d = adder*35;
                            childclasses.style.left = String(f+d)+'%';
                        }
                    )
                }
                slideEvents()
                //console.log(slides);
            }
            
        </script>
    </head>
    <body>
        <div class="localnavigation" style="position:fixed;
                                            display:unset;
                                            width: 100%;
                                            height: 65px;
                                            z-index: 5;
                                            overflow: hidden;
                                            top: 0;
                                            left: 0;
                                            background-color: black;">      
            <a href="\" class="imgside" style="padding: 10px 15px;
                                               position: absolute;
                                               top:0;">
                                               <img src={% static "images/Group-58.svg" %} loading="lazy" width="140" height="44"></a>
            <ul class='w3-sans-serif' style="
            position: absolute;
            color:white;
            top: 10.5%;
            left: 60%;
            margin: 0px;
        ">      
                <li style="display: inline-block;
                          padding :15px 15x;
                          font-size: 18px;
                "><a href="/about" class="textsides" style="text-decoration: none;
                          font-weight: 500;
                          color: white;">About Us</a></li>
                <li style="display: inline-block;
                          padding:15px 15px;
                          font-size: 18px;
                "><a href="/programs" class="textsides" style="text-decoration: none;
                          font-weight: 500;
                          color: white;">Programs</a></li>
                <li style="display: inline-block;
                           padding:15px 15px;
                           font-size: 18px;
                "><a href="/events" class="textsides" style="text-decoration: none;
                          font-weight: 500;
                          color: white;">Events</a></li>
                {% if user.is_authenticated %}
                <li style="display: inline-block;
                          padding:15px 17px;
                          font-size: 17px;
                          color: blue;
                "><a href={% url 'logout' %} class="textsides" style="text-decoration: none;
                          font-weight: 500; color:blue;">Logout</a></li>
                {% else %}
                <li style="display: inline-block;
                          padding:15px 17px;
                          font-size: 17px;
                          color: blue;
                "><a href="/sign" class="textsides w3-text-blue" style="text-decoration: none;
                          font-weight: 500; color:blue;">Sign Up</a></li>
                {% endif %}
      
            </ul>
        </div>    
        <div class="fcontainer" style="position: absolute;
                                       display: inline;
                                       height: 65%;
                                       width: 75%;
                                       top:20%;
                                       left:20%;
                                       background-color:rgba(255,255,255,0.2);
                                       box-shadow: 0 0 4px grey;
                                       overflow: hidden;">
        <div class="childclasses0" id="CA1" style="position: absolute;
                                         top:5%;
                                         width:25%;
                                         height: 90%;
                                         transition: 1s;
                                         color: black;
                                         background-color: white;
                                         border-radius: 20px;
                                         left:3%" onmouseover="HovFunction('CA1')" onmouseout="AntiHovFunction('CA1')">
            <div class="imgcontainer"  style="position:relative;height:50%;width: 100%;">
                <img src={% static "images/Hero-background-p-500.png" %} style="position:relative;height:110%;width:100%;">
            </div>
            <h1 style="position:relative;left:5%;">Event Name</h1>
            <p style="position:relative;left:5%;">Host Name<br>Date:-22/07/2022</p>
            <button style="position:relative;left:10%;width:80%;border-radius:20px;height:10%;background: linear-gradient(270deg, #69C5AA 0%, #37C0C3 32.91%, #587CBD 66.12%, #475CAA 100%);">REGISTER</button>
        </div>
        <div class="childclasses0" id="CA2" style="position: absolute;
                                         top:1%;
                                         width:30%;
                                         height: 98%;
                                         transition: 1s;
                                         transform: translateX(-7.5%);
                                         color: black;
                                         background-color: white;
                                         border-radius: 20px;
                                         left:38%"><div class="imgcontainer" style="position:relative;
                                         height:50%;
                                         width: 100%;
                                         background-color:black;
                                         border-radius:20px;" onmouseover="HovFunction('CA2')" onmouseout="AntiHovFunction('CA2')">
                                                <img src={% static "images/Hero-background-p-500.png" %} style="position:relative;height:110%;width:100%;border-radius:20px;">
                                            </div>
                                            <h1 style="position:relative;left:5%;">Event Name</h1>
                                            <p style="position:relative;left:5%;">Host Name<br><p id="datezone"></p></p>
                                        <button style="position:relative;left:10%;width:80%;border-radius:20px;height:10%;background: linear-gradient(270deg, #69C5AA 0%, #37C0C3 32.91%, #587CBD 66.12%, #475CAA 100%);">REGISTER</button></div>
        <div class="childclasses0" id="CA3" style="position: absolute;
                                         top:5%;
                                         width:25%;
                                         height: 90%;
                                         transition: 1s;
                                         color: black;
                                         border-radius: 20px;
                                         background-color: white;
                                         left:73%"><div class="imgcontainer" style="position:relative;
                                         height:50%;
                                         width: 100%;
                                         background-color:black;
                                         border-radius:20px;" onmouseover="HovFunction('CA3')" onmouseout="AntiHovFunction('CA3')">
                                                <img src={% static "images/Hero-background-p-500.png" %} style="position:relative;height:110%;width:100%;border-radius:20px;">
                                            </div>
                                            <h1 style="position:relative;left:5%;">Event Name</h1>
                                            <p style="position:relative;left:5%;">Host Name<br>Date:-22/07/2022</p>
                                        <button style="position:relative;left:10%;width:80%;border-radius:20px;height:10%;background: linear-gradient(270deg, #69C5AA 0%, #37C0C3 32.91%, #587CBD 66.12%, #475CAA 100%);">REGISTER</button></div>
        <div class="childclasses0" id="CA4" style="position: absolute;
                                         top:5%;
                                         width:25%;
                                         height: 90%;
                                         transition: 1s;
                                         color: black;
                                         border-radius: 20px;
                                         background-color: white;
                                         left:108%" onmouseover="HovFunction('CA4')" onmouseout="AntiHovFunction('CA4')"><div class="imgcontainer" style="position:relative;
                                         height:50%;
                                         width: 100%;
                                         background-color:black;
                                         border-radius:20px;">
                                                <img src={% static "images/Hero-background-p-500.png" %} style="position:relative;height:110%;width:100%;border-radius:20px;">
                                            </div>
                                            <h1 style="position:relative;left:5%;">Event Name</h1>
                                            <p style="position:relative;left:5%;">Date:-22/07/2022<br>Time:-12:00:00</p>
                                        <button style="position:relative;left:10%;width:80%;border-radius:20px;height:10%;background: linear-gradient(270deg, #69C5AA 0%, #37C0C3 32.91%, #587CBD 66.12%, #475CAA 100%);">REGISTER</button></div>
        <div class="childclasses0" id="CA5" style="position: absolute;
                                         top:5%;
                                         width:25%;
                                         height: 90%;
                                         color: black;
                                         transition: 1s;
                                         border-radius: 20px;
                                         background-color: white;
                                         left:143%" onmouseover="HovFunction('CA5')" onmouseout="AntiHovFunction('CA5')"><div class="imgcontainer" style="position:relative;
                                         height:50%;
                                         width: 100%;
                                         background-color:black;
                                         border-radius:20px;">
                                                <img src={% static "images/Hero-background-p-500.png" %} style="position:relative;height:110%;width:100%;border-radius:20px;">
                                            </div>
                                            <h1 style="position:relative;left:5%;">Event Name</h1>
                                            <p style="position:relative;left:5%;">Host Name<br>Date:-22/07/2022</p>
                                        <button style="position:relative;left:10%;width:80%;border-radius:20px;height:10%;background: linear-gradient(270deg, #69C5AA 0%, #37C0C3 32.91%, #587CBD 66.12%, #475CAA 100%);">REGISTER</button></div>
        </div>
        <div class="slidecontrols" style="position: absolute;
                                          top:50%;
                                          left:0%;
                                          width:100vw;
                                          align-items: center;">
                <button class="prevbutton" id="prev0" style="color: white; background-color: black; display: unset;position:absolute;left:18.5%;font-size: 30px;" onclick="prevFunction(0)"><</button>
                <button class="nextbutton" id="next0" style="color: white; background-color: black; display:unset;position:absolute; right:4.5%; font-size: 30px;" onclick="nextFunction(0)">></button>
        </div>
        <div class="fcontainer" style="position: absolute;
                                       display: inline;
                                       height: 65%;
                                       width: 75%;
                                       top:120%;
                                       left:20%;
                                       background-color:rgba(255,255,255,0.2);
                                       box-shadow: 0 0 4px grey;
                                       overflow: hidden;">
        <div class="childclasses1" id="CB1" style="position: absolute;
                                         top:5%;
                                         width:25%;
                                         height: 90%;
                                         transition: 1s;
                                         color: black;
                                         border-radius: 20px;
                                         background-color: white;
                                         left:3%" onmouseover="HovFunction('CB1')" onmouseout="AntiHovFunction('CB1')"><div class="imgcontainer" style="position:relative;
                                             height:50%;
                                             width: 100%;
                                             background-color:black;
                                             border-radius:20px;">
                                                    <img src={% static "images/Hero-background-p-500.png" %} style="position:relative;height:110%;width:100%;border-radius:20px;">
                                                </div>
                                                <h1 style="position:relative;left:5%;">Event Name</h1>
                                                <p style="position:relative;left:5%;">Host Name<br>Date:-22/07/2022</p>
                                            <button style="position:relative;left:10%;width:80%;border-radius:20px;height:10%;background: linear-gradient(270deg, #69C5AA 0%, #37C0C3 32.91%, #587CBD 66.12%, #475CAA 100%);">REGISTER</button></div>
        <div class="childclasses1" id="CB2" style="position: absolute;
                                         top:1%;
                                         width:30%;
                                         height: 98%;
                                         transition: 1s;
                                         color: black;
                                         background-color: white;
                                         transform: translateX(-7.5%);
                                         border-radius: 20px;
                                         left:38%" onmouseover="HovFunction('CB2')" onmouseout="AntiHovFunction('CB2')"><div class="imgcontainer" style="position:relative;
                                             height:50%;
                                             width: 100%;
                                             background-color:black;
                                             border-radius:20px;">
                                                    <img src={% static "images/Hero-background-p-500.png" %} style="position:relative;height:110%;width:100%;border-radius:20px;">
                                                </div>
                                                <h1 style="position:relative;left:5%;">Event Name</h1>
                                                <p style="position:relative;left:5%;">Host Name<br>Date:-22/07/2022</p>
                                            <button style="position:relative;left:10%;width:80%;border-radius:20px;height:10%;background: linear-gradient(270deg, #69C5AA 0%, #37C0C3 32.91%, #587CBD 66.12%, #475CAA 100%);">REGISTER</button>2</div>
        <div class="childclasses1" id="CB3" style="position: absolute;
                                         top:5%;
                                         width:25%;
                                         height: 90%;
                                         transition: 1s;
                                         color: black;
                                         border-radius: 20px;
                                         background-color: white;
                                         left:73%" onmouseover="HovFunction('CB3')" onmouseout="AntiHovFunction('CB3')"><div class="imgcontainer" style="position:relative;
                                             height:50%;
                                             width: 100%;
                                             background-color:black;
                                             border-radius:20px;">
                                                    <img src={% static "images/Hero-background-p-500.png" %} style="position:relative;height:110%;width:100%;border-radius:20px;">
                                                </div>
                                                <h1 style="position:relative;left:5%;">Event Name</h1>
                                                <p style="position:relative;left:5%;">Host Name<br>Date:-22/07/2022</p>
                                            <button style="position:relative;left:10%;width:80%;border-radius:20px;height:10%;background: linear-gradient(270deg, #69C5AA 0%, #37C0C3 32.91%, #587CBD 66.12%, #475CAA 100%);">REGISTER</button></div>
        <div class="childclasses1" id="CB4" style="position: absolute;
                                         top:5%;
                                         width:25%;
                                         height: 90%;
                                         transition: 1s;
                                         color: black;
                                         border-radius: 20px;
                                         background-color: white;
                                         left:108%" onmouseover="HovFunction('CB4')" onmouseout="AntiHovFunction('CB4')"><div class="imgcontainer" style="position:relative;
                                             height:50%;
                                             width: 100%;
                                             background-color:black;
                                             border-radius:20px;">
                                                    <img src={% static "images/Hero-background-p-500.png" %} style="position:relative;height:110%;width:100%;border-radius:20px;">
                                                </div>
                                                <h1 style="position:relative;left:5%;">Event Name</h1>
                                                <p style="position:relative;left:5%;">Host Name<br>Date:-22/07/2022</p>
                                            <button style="position:relative;left:10%;width:80%;border-radius:20px;height:10%;background: linear-gradient(270deg, #69C5AA 0%, #37C0C3 32.91%, #587CBD 66.12%, #475CAA 100%);">REGISTER</button></div>
        <div class="childclasses1" id="CB5" style="position: absolute;
                                         top:5%;
                                         width:25%;
                                         height: 90%;
                                         color: black;
                                         transition: 1s;
                                         border-radius: 20px;
                                         background-color: white;
                                         left:143%" onmouseover="HovFunction('CB5')" onmouseout="AntiHovFunction('CB5')"><div class="imgcontainer" style="position:relative;
                                             height:50%;
                                             width: 100%;
                                             background-color:black;
                                             border-radius:20px;">
                                                    <img src={% static "images/Hero-background-p-500.png" %} style="position:relative;height:110%;width:100%;border-radius:20px;">
                                                </div>
                                                <h1 style="position:relative;left:5%;">Event Name</h1>
                                                <p style="position:relative;left:5%;">Host Name<br>Date:-22/07/2022</p>
                                            <button style="position:relative;left:10%;width:80%;border-radius:20px;height:10%;background: linear-gradient(270deg, #69C5AA 0%, #37C0C3 32.91%, #587CBD 66.12%, #475CAA 100%);">REGISTER</button> </div>
        </div>
        <div class="slidecontrols" style="position: absolute;
                                          top:150%;
                                          left:0%;
                                          width: 100vw;
                                          align-items: center;">
                <button class="prevbutton" id="prev1" style="color: white; background-color: black; display: unset;position:absolute; left:18.5%;font-size: 30px;" onclick="prevFunction(1)"><</button>
                <button class="nextbutton" id="next1" style="color: white; background-color: black; display:unset;position:absolute; right:4.5%;font-size: 30px;" onclick="nextFunction(1)">></button>
        </div>
        <div class="fcontainer" style="position: absolute;
                                       display: inline;
                                       height: 65%;
                                       width: 75%;
                                       top:220%;
                                       left:20%;
                                       background-color:rgba(255,255,255,0.2);
                                       box-shadow: 0 0 4px grey;
                                       overflow: hidden;">
        <div class="childclasses2" id="CC1" style="position: absolute;
                                         top:5%;
                                         width:25%;
                                         height: 90%;
                                         transition: 1s;
                                         color: black;
                                         border-radius: 20px;
                                         background-color: white;
                                         left:3%" onmouseover="HovFunction('CC1')" onmouseout="AntiHovFunction('CC1')"><div class="imgcontainer" style="position:relative;
                                         height:50%;
                                         width: 100%;
                                         background-color:black;
                                         border-radius:20px;">
                                           <img src={% static "images/Hero-background-p-500.png" %} style="position:relative;height:110%;width:100%;border-radius:20px;">
                                            </div>
                                            <h1 style="position:relative;left:5%;">Event Name</h1>
                                            <p style="position:relative;left:5%;">Date:-22/07/2022<br>Time:-12:00 AM</p>
                                        <button style="position:relative;left:10%;width:80%;border-radius:20px;height:10%;background: linear-gradient(270deg, #69C5AA 0%, #37C0C3 32.91%, #587CBD 66.12%, #475CAA 100%);">REGISTER</button></div>
        <div class="childclasses2" id="CC2" style="position: absolute;
                                         top:1%;
                                         width:30%;
                                         height: 98%;
                                         transition: 1s;
                                         color: black;
                                         background-color: white;
                                         transform: translateX(-7.5%);
                                         border-radius: 20px;
                                         left:38%" onmouseover="HovFunction('CC2')" onmouseout="AntiHovFunction('CC2')"><div class="imgcontainer" style="position:relative;
                                         height:50%;
                                         width: 100%;
                                         background-color:black;
                                         border-radius:20px;">
                                           <img src={% static "images/Hero-background-p-500.png" %} style="position:relative;height:110%;width:100%;border-radius:20px;">
                                            </div>
                                            <h1 style="position:relative;left:5%;">Event Name</h1>
                                            <p style="position:relative;left:5%;">Date:-22/07/2022<br>Time:-12:00 AM</p>
                                        <button style="position:relative;left:10%;width:80%;border-radius:20px;height:10%;background: linear-gradient(270deg, #69C5AA 0%, #37C0C3 32.91%, #587CBD 66.12%, #475CAA 100%);">REGISTER</button></div>
        <div class="childclasses2" id="CC3" style="position: absolute;
                                         top:5%;
                                         width:25%;
                                         height: 90%;
                                         transition: 1s;
                                         color: black;
                                         border-radius: 20px;
                                         background-color: white;
                                         left:73%" onmouseover="HovFunction('CC3')" onmouseout="AntiHovFunction('CC3')"><div class="imgcontainer" style="position:relative;
                                         height:50%;
                                         width: 100%;
                                         background-color:black;
                                         border-radius:20px;">
                                           <img src={% static "images/Hero-background-p-500.png" %} style="position:relative;height:110%;width:100%;border-radius:20px;">
                                            </div>
                                            <h1 style="position:relative;left:5%;">Event Name</h1>
                                            <p style="position:relative;left:5%;">Date:-22/07/2022<br>Time:-12:00 AM</p>
                                        <button style="position:relative;left:10%;width:80%;border-radius:20px;height:10%;background: linear-gradient(270deg, #69C5AA 0%, #37C0C3 32.91%, #587CBD 66.12%, #475CAA 100%);">REGISTER</button></div>
        <div class="childclasses2" id="CC4" style="position: absolute;
                                         top:5%;
                                         width:25%;
                                         height: 90%;
                                         transition: 1s;
                                         color: black;
                                         border-radius: 20px;
                                         background-color: white;
                                         left:108%" onmouseover="HovFunction('CC4')" onmouseout="AntiHovFunction('CC4')"><div class="imgcontainer" style="position:relative;
                                         height:50%;
                                         width: 100%;
                                         background-color:black;
                                         border-radius:20px;">
                                           <img src={% static "images/Hero-background-p-500.png" %} style="position:relative;height:110%;width:100%;border-radius:20px;">
                                            </div>
                                            <h1 style="position:relative;left:5%;">Event Name</h1>
                                            <p style="position:relative;left:5%;">Date:-22/07/2022<br>Time:-12:00 AM</p>
                                        <button style="position:relative;left:10%;width:80%;border-radius:20px;height:10%;background: linear-gradient(270deg, #69C5AA 0%, #37C0C3 32.91%, #587CBD 66.12%, #475CAA 100%);">REGISTER</button></div>
        <div class="childclasses2" id="CC5" style="position: absolute;
                                         top:5%;
                                         width:25%;
                                         height: 90%;
                                         color: black;
                                         transition: 1s;
                                         border-radius: 20px;
                                         background-color: white;
                                         left:143%" onmouseover="HovFunction('CC5')" onmouseout="AntiHovFunction('CC5')"><div class="imgcontainer" style="position:relative;
                                         height:50%;
                                         width: 100%;
                                         background-color:black;
                                         border-radius:20px;">
                                           <img src={% static "images/Hero-background-p-500.png" %} style="position:relative;height:110%;width:100%;border-radius:20px;">
                                            </div>
                                            <h1 style="position:relative;left:5%;">Event Name</h1>
                                            <p style="position:relative;left:5%;">Date:-22/07/2022<br>Time:-12:00 AM</p>
                                        <button style="position:relative;left:10%;width:80%;border-radius:20px;height:10%;background: linear-gradient(270deg, #69C5AA 0%, #37C0C3 32.91%, #587CBD 66.12%, #475CAA 100%);">REGISTER</button></div>
        </div>
        <div class="slidecontrols" style="position: absolute;
                                          top:250%;
                                          left:0%;
                                          width: 100vw;
                                          align-items: center;">
                <button class="prevbutton" id="prev2" style="color: white; background-color: black; display:unset; position:absolute; left:18.5%; font-size: 30px;" onclick="prevFunction(2)"><</button>
                <button class="nextbutton" id="next2" style="color: white; background-color: black; display:unset; position:absolute; right:4.5%; font-size: 30px;" onclick="nextFunction(2)">></button>
        </div>
        <div class="fcontainer" style="position: absolute;
                                       display: inline;
                                       height: 65%;
                                       width: 75%;
                                       top:320%;
                                       left:20%;
                                       background-color:rgba(255,255,255,0.2);
                                       box-shadow: 0 0 4px grey;
                                       overflow: hidden;">
        <div class="childclasses3" id="CD1" style="position: absolute;
                                         top:5%;
                                         width:25%;
                                         height: 90%;
                                         transition: 1s;
                                         color: black;
                                         border-radius: 20px;
                                         background-color: white;
                                         left:3%" onmouseover="HovFunction('CD1')" onmouseout="AntiHovFunction('CD1')"><div class="imgcontainer" style="position:relative;
                                         height:50%;
                                         width: 100%;
                                         background-color:black;
                                         border-radius:20px;">
                                           <img src={% static "images/Hero-background-p-500.png" %} style="position:relative;height:110%;width:100%;border-radius:20px;">
                                            </div>
                                            <h1 style="position:relative;left:5%;">Event Name</h1>
                                            <p style="position:relative;left:5%;">Date:-22/07/2022<br>Time:-12:00 AM</p>
                                        <button style="position:relative;left:10%;width:80%;border-radius:20px;height:10%;background: linear-gradient(270deg, #69C5AA 0%, #37C0C3 32.91%, #587CBD 66.12%, #475CAA 100%);">REGISTER</button></div>
        <div class="childclasses3" id="CD2" style="position: absolute;
                                         top:1%;
                                         width:30%;
                                         height: 98%;
                                         transition: 1s;
                                         color: black;
                                         background-color: white;
                                         transform: translateX(-7.5%);
                                         border-radius: 20px;
                                         left:38%" onmouseover="HovFunction('CD2')" onmouseout="AntiHovFunction('CD2')"><div class="imgcontainer" style="position:relative;
                                         height:50%;
                                         width: 100%;
                                         background-color:black;
                                         border-radius:20px;">
                                           <img src={% static "images/Hero-background-p-500.png" %} style="position:relative;height:110%;width:100%;border-radius:20px;">
                                            </div>
                                            <h1 style="position:relative;left:5%;">Event Name</h1>
                                            <p style="position:relative;left:5%;">Date:-22/07/2022<br>Time:-12:00 AM</p>
                                        <button style="position:relative;left:10%;width:80%;border-radius:20px;height:10%;background: linear-gradient(270deg, #69C5AA 0%, #37C0C3 32.91%, #587CBD 66.12%, #475CAA 100%);">REGISTER</button></div>
        <div class="childclasses3" id="CD3" style="position: absolute;
                                         top:5%;
                                         width:25%;
                                         height: 90%;
                                         transition: 1s;
                                         color: black;
                                         border-radius: 20px;
                                         background-color: white;
                                         left:73%" onmouseover="HovFunction('CD3')" onmouseout="AntiHovFunction('CD3')"><div class="imgcontainer" style="position:relative;
                                         height:50%;
                                         width: 100%;
                                         background-color:black;
                                         border-radius:20px;">
                                           <img src={% static "images/Hero-background-p-500.png" %} style="position:relative;height:110%;width:100%;border-radius:20px;">
                                            </div>
                                            <h1 style="position:relative;left:5%;">Event Name</h1>
                                            <p style="position:relative;left:5%;">Date:-22/07/2022<br>Time:-12:00 AM</p>
                                        <button style="position:relative;left:10%;width:80%;border-radius:20px;height:10%;background: linear-gradient(270deg, #69C5AA 0%, #37C0C3 32.91%, #587CBD 66.12%, #475CAA 100%);">REGISTER</button></div>
        <div class="childclasses3" id="CD4" style="position: absolute;
                                         top:5%;
                                         width:25%;
                                         height: 90%;
                                         transition: 1s;
                                         color: black;
                                         border-radius: 20px;
                                         background-color: white;
                                         left:108%" onmouseover="HovFunction('CD4')" onmouseout="AntiHovFunction('CD4')"><div class="imgcontainer" style="position:relative;
                                         height:50%;
                                         width: 100%;
                                         background-color:black;
                                         border-radius:20px;">
                                           <img src={% static "images/Hero-background-p-500.png" %} style="position:relative;height:110%;width:100%;border-radius:20px;">
                                            </div>
                                            <h1 style="position:relative;left:5%;">Event Name</h1>
                                            <p style="position:relative;left:5%;">Date:-22/07/2022<br>Time:-12:00 AM</p>
                                        <button style="position:relative;left:10%;width:80%;border-radius:20px;height:10%;background: linear-gradient(270deg, #69C5AA 0%, #37C0C3 32.91%, #587CBD 66.12%, #475CAA 100%);">REGISTER</button></div>
        <div class="childclasses3" id="CD5" style="position: absolute;
                                         top:5%;
                                         width:25%;
                                         height: 90%;
                                         color: black;
                                         transition: 1s;
                                         border-radius: 20px;
                                         background-color: white;
                                         left:143%" onmouseover="HovFunction('CD5')" onmouseout="AntiHovFunction('CD5')"><div class="imgcontainer" style="position:relative;
                                         height:50%;
                                         width: 100%;
                                         background-color:black;
                                         border-radius:20px;">
                                           <img src={% static "images/Hero-background-p-500.png" %} style="position:relative;height:110%;width:100%;border-radius:20px;">
                                            </div>
                                            <h1 style="position:relative;left:5%;">Event Name</h1>
                                            <p style="position:relative;left:5%;">Date:-22/07/2022<br>Time:-12:00 AM</p>
                                        <button style="position:relative;left:10%;width:80%;border-radius:20px;height:10%;background: linear-gradient(270deg, #69C5AA 0%, #37C0C3 32.91%, #587CBD 66.12%, #475CAA 100%);">REGISTER</button></div>
        </div>
        <div class="slidecontrols" style="position: absolute;
                                          top:350%;
                                          left:0%;
                                          width:100vw;
                                          align-items: center;">
                <button class="prevbutton" id="prev3" style="color: white; background-color: black; display: unset; position: absolute; left: 18.5%; font-size: 30px;" onclick="prevFunction(3)"><</button>
                <button class="nextbutton" id="next3" style="color: white; background-color: black; display:unset; position: absolute; right: 4.5%; font-size: 30px;" onclick="nextFunction(3)">></button>
        </div>
        <div class='verticalNavBar' style="font-size: 25px;">
            <a href='#live' style="text-decoration:none;" class='w3-padding w3-left w3-round-large w3-hover-blue' id='001' onclick={window.scrollTo(50,0)}>Live</a><br />
            <a href='#featured' style="text-decoration:none;" class='w3-padding w3-left w3-round-large w3-hover-blue' id='002' onclick={window.scrollTo(50,ht)}>Featured</a><br />
            <a href='#upcomming' style="text-decoration:none;" class='w3-padding w3-round-large w3-left w3-hover-blue' id='003' onclick={window.scrollTo(50,ht*2)}>Upcomming</a><br/>
            <a href='#past' style="text-decoration:none;" class='w3-padding w3-round-large w3-left w3-hover-blue' id='004' onclick={window.scrollTo(50,ht*3)}>Past</a>
        </div>
         <div style="position: absolute;
                    top: 400%;
                    left:0%;
                    width: 100%;
                    height: 60%;
                    background-color: #000000;
                    color: white;
                    z-index: 2;">
            <img src={% static "images/Group-58.svg" %} loading="lazy" width="140" height="44"
            style=" position: absolute;
                    top:5%;
                    width: 15%;
                    height: 25%;
                    left: 5%;">
            <div class='copyRigth' style="position: absolute;
                                        top:85%;
                                        left:1%;
                                        width: auto;
                                        height: auto;">
              <span>&copy;</span> 2022, Startic Field Pvt. Ltd. All Rights Reserved.
            </div>
            <div class='content' style="position: absolute;
                                            text-align: left;
                                            left: 1%;
                                            top: 30%;
                                            width:25%;
                                            height:auto;">
              Startic Field is a company which aims to endow student entrepreneurs with the power of community, knowledge, capital and mentorship. It is also a forum where we bring together working professionals as contributors who have a passion to startup, years of experience and small amounts of capital but do not have the bandwidth to work on the ground.
            </div>
            <a href='#' class='company' style="position: absolute;
                                                    text-decoration: none;
                                                    color: white;
                                                    top:10%;
                                                    left:35%;
                                                    font-size: 28px;
                                                    width: auto;
                                                    height: auto;">
              <b>Company</b></a>
            <a href="/about" class='cone' style="position: absolute;
                                                text-decoration: none;
                                                color: white;
                                                height: auto;
                                                width: auto;
                                                top: 30%;
                                                left: 35%;">About Us</a>
            <a href='#' class='ctwo' style="position: absolute;
                                            text-decoration: none;
                                            color: white;
                                            height: auto;
                                            width: auto;
                                            top: 42.5%;
                                            left: 35%;">Privacy Policy</a>
            <a href='#' class='cthree' style="position: absolute;
                                            text-decoration: none;
                                            color: white;
                                            height: auto;
                                            width: auto;
                                            top: 55%;
                                            left: 35%;">Terms and Conditions</a>
            <a href='#' class='otherlinks' style="position: absolute;
                                                text-decoration: none;
                                                color: white;
                                                top:10%;
                                                left:55%;
                                                font-size: 28px;
                                                width: auto;
                                                height: auto;">
              <b>Other Links</b>
            </a>
            <a href='#' class='done' style="position: absolute;
                                            height: auto;
                                            text-decoration: none;
                                            color: white;
                                            width: auto;
                                            top: 30%;
                                            left: 55%";>Community</a>
            <a href='/events' class='dtwo' style="position: absolute;
                                            text-decoration: none;
                                            color: white;
                                            height: auto;
                                            width: auto;
                                            top: 42.5%;
                                            left: 55%;">Events</a>
            <a href='/programs' class='dthree' style="text-decoration: none;
                                            position: absolute;
                                            color: white;
                                            height: auto;
                                            width: auto;
                                            top: 55%;
                                            left: 55%;">Programs</a>
            <a href='/contact' class='contactUs' style="position: absolute;
                                                text-decoration: none;
                                                color: white;
                                                top:10%;
                                                left:73%;
                                                font-size: 28px;
                                                width: auto;
                                                height: auto;">
              <b>Contact Us</b></a>
            <a href='#' class='eone' style="text-decoration: none;
                                            position: absolute;
                                            color: white;
                                            height: auto;
                                            width: auto;
                                            top: 67.5%;
                                            left: 55%;">Careers</a>
            <div class='email' style="text-decoration: none;
                                    position: absolute;
                                    height: auto;
                                    width: auto;
                                    top: 42.5%;
                                    left: 75%;">
                                    contactUs@starticField.com<br><br>
                                    <a href="#" class="footer-social-link w-inline-block" style="position: absolute; top:80%; left:20%;"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124ac15112aad5_twitter%20small.svg" loading="lazy" alt=""></a>
                                    <a href="#" class="footer-social-link w-inline-block" style="position: absolute; top:80%; left:40%;"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a389912aad8_linkedin%20small.svg" loading="lazy" alt=""></a>
                                    <a href="#" class="footer-social-link w-inline-block" style="position: absolute; top:80%; left:60%;"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a51bf12aae9_facebook%20small.svg" loading="lazy" alt=""></a>
            </div>
    </body>
</html>