{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SF | REGISTER</title>
    <style>
        .boxstudent:hover {
            transition: 1s;
            transform: translateY(-5vh);
        }
        .boxstartup:hover {
            transition: 1s;
            transform: translateY(-5vh);
        }
        .boxcontributor:hover {
            transition: 1s;
            transform: translateY(-5vh);
        }
    </style>
</head>
<body style="background-color: black;">
    <h1 style="align-items: center; color: white;left:38vw;top:5vh;position:absolute;">REGISTRATION</h1>
    <div class="boxstudent" style="position:absolute;
                                   top:30vh;
                                   width:25vw;
                                   left:7vw;
                                   height:40vh;
                                   box-shadow: 3px 5px 5px grey;
                                   border-radius: 20px;
                                   background-color: rgb(56, 73, 105);
                                   color: white;
                                   align-items: center;
                                   "><a href="\form1" style="position: relative; left:30%; top:45%; font-size: 25px;
                                   color:white;text-decoration: none;">STUDENT</a></div>
    
    <div class="boxstartup" style="position:absolute;
                                   top:30vh;
                                   width:25vw;
                                   left:35vw;
                                   height:40vh;
                                   box-shadow: 3px 5px 5px grey;
                                   border-radius: 20px;
                                   background-color: rgb(56, 73, 105);
                                   color: white;
                                   align-items: center;
                                   "><a href="\form3" style="position: relative; left:30%; top:45%; font-size: 25px;
                                   color:white;text-decoration: none;">
                                   START UP</a></div>
    
    <div class="boxcontributor" style="position:absolute;
                                   top:30vh;
                                   width:25vw;
                                   left:63vw;
                                   height:40vh;
                                   box-shadow: 3px 5px 5px grey;
                                   border-radius: 20px;
                                   background-color: rgb(56, 73, 105);
                                   color: white;
                                   align-items: center;
                                   "><a href="\form4" style="position: relative; left:22%; top:45%;font-size: 25px;
                                   color:white;text-decoration: none;">CONTRIBUTOR</a></div>
</body>
</html>